.App,
input,
button {
  font-size: 16px;
  font-family: "Fira Code", "Menlo", "Courier New", monospace;
}

.App {
  text-align: center;
  background: #002b36;
  min-height: 100vh;
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: #93a1a1;
}

.counter {
  width: 400px;
  background: #073642;
  padding: 12px;
  margin: 12px;
}

input {
  background: #586e75;
  border: none;
  color: #fdf6e3;
}

button.plus {
  background: #859900;
  border: none;
  color: #002b36;
}

button.minus {
  background: #cb4b16;
  border: none;
  color: #002b36;
}
